* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  height: 1000vh;
}
section {
  padding: 5rem 0;
}
@media (max-width: 768px) {
  section {
    padding: 3rem 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  font-weight: 600;
}
img {
  width: 100%;
}
.clr {
  clear: both;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  font-weight: 500;
}
.contanier {
  margin: 0 auto;
}
/*small*/
@media (min-width: 768px) {
  .contanier {
    max-width: 720px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .contanier {
    max-width: 960px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .contanier {
    max-width: 1140px;
  }
}

/*x-large*/
@media (min-width: 1400px) {
  .contanier {
    max-width: 1320px;
  }
}
