/* Start contact Us  */
.contact_us .contanier {
  display: flex;
}
.contact_us .contanier .person {
  width: 50%;
  display: flex;
}
.contact_us .contanier .person img {
  width: 50%;
}
.contact_us .contanier .person .person_text {
  width: 50%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.contact_us .contanier .person .person_text h3 {
  font-size: calc(1.3rem + 0.6vw);
}
.contact_us .contanier .person .person_text h5 {
  font-size: 1rem;
}
@media (max-width: 575px) {
  .contact_us .contanier {
    flex-direction: column;
  }
  .contact_us .contanier .person,
  .contact_us .contanier .person img {
    width: 100%;
    padding: 1rem;
    flex-direction: column;
  }
  .contact_us .contanier .person .person_text {
    width: 100%;
  }
  .contact_us .contanier .person .person_text p {
    margin-bottom: 1rem;
  }
}
.map_message {
  padding-top: 0;
}
.map_message .contanier {
  display: flex;
}
.map_message .map {
  width: 50%;
  padding: 1rem;
}
.map_message .map iframe {
  min-height: 100%;
  min-width: 100%;
}
.map_message .contact_form {
  width: 50%;
  padding: 1rem;
}
.map_message .contact_form form {
  margin-top: 2rem;
}
.map_message .contact_form form .row {
  display: flex;
  justify-content: space-between;
}
.map_message .contact_form form input,
.map_message .contact_form form textarea {
  border: none;
  padding: 1rem 2rem;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
}
.mdr-5 {
  margin-right: 0.8rem;
}
.mdl-5 {
  margin-left: 0.8rem;
}
