/* Start Buttons */
.btn {
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.5s;
  padding: 1rem 3rem;
  cursor: pointer;
  border: none;
}

/* Start home (special_heading) */
.special_heading {
  padding-left: 1.5rem;
  margin-bottom: 3rem;
}
.special_heading h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.special_heading h1 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 700;
}

/* Start page banar */
.page_banar {
  background-image: url(../../img/carousel.jpg);
  background-size: cover;
  height: 40vh;
  position: relative;
}
.page_banar .overlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.page_banar .overlay .content h1 {
  font-size: calc(1.475rem + 2.7vw);
  margin-bottom: 1.5rem;
}
